body {
    background-color: #4aaaa5;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

form {
    background-color: #ffffff;
    /* align-self: center; */
    width: max-content;
    padding: 3rem;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
}

.alert {
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
}

.btn {
    grid-column: span 2;
    color: #fff;
    padding: .5rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
}
